doctype html
html
  head
    meta(charset='utf-8')
    title BTC Order Book Indicator
    link(rel='stylesheet', href='libs/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='libs/fa/css/font-awesome.min.css')
    link(rel='stylesheet', href='libs/faa/font-awesome-animation.min.css')
    link(rel='stylesheet', href='libs/animate.css')
    link(rel='stylesheet', href='css/index.css')
  body
    #app
      nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
        a.navbar-brand(href='#')  \[._.]/  BTC Order Book Indicator
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='https://twitter.com/antic'): i.fa.fa-twitter &nbsp;@antic
          li.nav-item
            a.nav-link(href='https://github.com/atomantic/bitcoin_orderbook_indicator'): i.fa.fa-github &nbsp;code
      main(role='main')
        #charts
          #all-data
        .controls
          .set
            strong interval: 
            .btn-group
              button.btn.btn-sm.btn-outline-primary(role='button', v-on:click="setGroup('minute')", :disabled="grouping==='minute'") minute
              button.btn.btn-sm.btn-outline-primary(role='button', v-on:click="setGroup('hour')", :disabled="grouping==='hour'") hour
              button.btn.btn-sm.btn-outline-primary(role='button', v-on:click="setGroup('h6')", :disabled="grouping==='h6'") 6-hour
              button.btn.btn-sm.btn-outline-primary(role='button', v-on:click="setGroup('day')", :disabled="grouping==='day'") day
          .set
            strong threshold: 
            .btn-group
              button.btn.btn-sm.btn-outline-primary(role='button', v-on:click="setTarget('default')", :disabled="target==='default'") all
              button.btn.btn-sm.btn-outline-primary(role='button', v-on:click="setTarget('m1')", :disabled="target==='m1'") $1M
              button.btn.btn-sm.btn-outline-primary(role='button', v-on:click="setTarget('m5')", :disabled="target==='m5'") $5M
              button.btn.btn-sm.btn-outline-primary(role='button', v-on:click="setTarget('m10')", :disabled="target==='m10'") 10
              button.btn.btn-sm.btn-outline-primary(role='button', v-on:click="setTarget('m20')", :disabled="target==='m20'") 20
              button.btn.btn-sm.btn-outline-primary(role='button', v-on:click="setTarget('m30')", :disabled="target==='m30'") 30
              button.btn.btn-sm.btn-outline-primary(role='button', v-on:click="setTarget('m40')", :disabled="target==='m40'") 40
              button.btn.btn-sm.btn-outline-primary(role='button', v-on:click="setTarget('m50')", :disabled="target==='m50'") 50
          .set
            strong window: 
            .btn-group
              button.btn.btn-sm.btn-outline-primary(role='button', v-on:click="setTime(3600000)", :disabled="time===3600000") hour
              button.btn.btn-sm.btn-outline-primary(role='button', v-on:click="setTime(43200000)", :disabled="time===43200000") 1/2 day
              button.btn.btn-sm.btn-outline-primary(role='button', v-on:click="setTime(86400000)", :disabled="time===86400000") day
              button.btn.btn-sm.btn-outline-primary(role='button', v-on:click="setTime(604800000)", :disabled="time===604800000") week
              button.btn.btn-sm.btn-outline-primary(role='button', v-on:click="setTime('all')", :disabled="time==='all'") all
              //- button.btn.btn-sm.btn-outline-primary(role='button', v-on:click="setTime(2592000000)") 30 days
        #cash
      #footpad
        footer
          nav.navbar.navbar-expand-md.navbar-dark.fixed-bottom.bg-dark
            .navbar-brand
              | &copy; Adam Eivy <a href="https://twitter.com/antic" target="off">@antic</a>
            ul.nav.navbar-nav.ml-auto
              li
                span.nav-link(v-if="connected")
                  i.fa.fa-chain
                  span &nbsp; connected
                span.nav-link(v-else)
                  i.fa.fa-chain-broken
                  span &nbsp;disconnected
              li(v-if="connected")
                a.nav-link
                  i.led.led-green.connected.animated.infinite.fadeOut.fadeIn &nbsp;
    
    script(src="https://d3js.org/d3.v4.min.js")
    script(src="https://d3js.org/d3-scale-chromatic.v1.min.js")
    script(src='socket.io/socket.io.js')
    script(src='js/index.js', defer)