doctype html
html
  head
    meta(charset='utf-8')
    title BTC Order Book Indicator
    link(rel='stylesheet', href='libs/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='libs/fa/css/font-awesome.min.css')
    link(rel='stylesheet', href='libs/faa/font-awesome-animation.min.css')
    link(rel='stylesheet', href='libs/animate.css')
    link(rel='stylesheet', href='css/index.css')
  body
    #app
      nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
        a.navbar-brand(href='#')  \[._.]/  BTC Order Book Indicator
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link(href='https://twitter.com/antic'): i.fa.fa-twitter &nbsp;@antic
          li.nav-item
            a.nav-link(href='https://github.com/atomantic/bitcoin_orderbook_indicator'): i.fa.fa-github &nbsp;code
      main(role='main')
        #charts
          #all-data
        div
          span grouping: 
          .btn-group
            button.btn.btn-secondary(role='button', v-on:click="toggleGroup('date')") all
            button.btn.btn-secondary(role='button', v-on:click="toggleGroup('minute')") minute
            button.btn.btn-secondary(role='button', v-on:click="toggleGroup('hour')") hourly
            button.btn.btn-secondary(role='button', v-on:click="toggleGroup('day')") daily
              
      #footpad
        footer
          nav.navbar.navbar-expand-md.navbar-dark.fixed-bottom.bg-dark
            .navbar-brand
              | &copy; Adam Eivy <a href="https://twitter.com/antic" target="off">@antic</a>
            ul.nav.navbar-nav.ml-auto
              li
                span.nav-link(v-if="connected")
                  i.fa.fa-chain
                  span &nbsp; connected
                span.nav-link(v-else)
                  i.fa.fa-chain-broken
                  span &nbsp;disconnected
              li(v-if="connected")
                a.nav-link
                  i.led.led-green.connected.animated.infinite.fadeOut.fadeIn &nbsp;
    
    script(src="https://d3js.org/d3.v4.min.js")
    script(src="https://d3js.org/d3-scale-chromatic.v1.min.js")
    script(src='socket.io/socket.io.js')
    script(src='js/index.js', defer)